<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>
  <meta charset="utf-8">
  <title>Fine Arts</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static "lib/bootstrap/css/bootstrap.min.css"%}"" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static "lib/font-awesome/css/font-awesome.min.css"%}"" rel="stylesheet">
  <link href="{% static "lib/animate/animate.min.css"%}"" rel="stylesheet">
  <link href="{% static "lib/venobox/venobox.css"%}"" rel="stylesheet">
  <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css"%}"" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static "css/style.css"%}"" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header" class="header-fixed">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="{% url 'event_add_on_stage' %}">A<span>R</span>TS</a></h1>
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li ><a href="{% url 'event_add_off_stage' %}">Home</a></li>
          
          <li class="drop-down"><a href="{% url 'event_add_on_stage' %}">Off Stage Events </a>
            <ul>
              <li><a href="{% url 'event_add_off_stage' %}">Add Events</a></li>
              
              <li><a href="{% url 'edit_off_stage' %}">Cancel Events</a></li>
              
            </ul>
          </li>

          <li class="drop-down"><a href="{% url 'event_add_on_stage' %}">On Stage Events </a>
            <ul>
              <li><a href="{% url 'event_add_on_stage' %}">Add Events</a></li>
              
              <li><a href="{% url 'edit_on_stage' %}">Cancel Events</a></li>
              
            </ul>
          </li>

          <li><a href="{% url 'home_display' %}" onclick="return show_alert()">Log Out</a></li>


        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    {% block content %}
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>Speaker Details</h2>
          <p>Praesentium ut qui possimus sapiente nulla.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Brenden Legros</h2>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
              <p>Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.</p>
 
              <p>Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.</p> 

              <p>Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.</p>
            </div>
          </div>
          
        </div>
      </div>

    </section>
    {% endblock %}
  </main>

<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <div id="logo" class="pull-left">
              <!-- Uncomment below if you prefer to use a text logo -->
               <h1><a href="#intro">A<span>R</span>TS</a></h1>
              <p>Arts is a festival unique in its structure and organisation. The organisational set up on various level for the conduct of the event is monitored by Department authorities as per the manual drafted by experts in the field. </p>
            </div>
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#">College Website</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Union</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Services</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Arts Club <br>
              College Union<br>
              
              <strong>Phone:</strong> +91 8564103020<br>
              <strong>Email:</strong> info_college_union@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>ARTS</strong>. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <script>
    function show_alert() {
    if(!confirm("Do you want to log out?")) {
        return false;
        }
        this.form.submit();
    }
</script>

  <!-- JavaScript Libraries -->
  <script src="{% static "lib/jquery/jquery.min.js"%}""></script>
  <script src="{% static "lib/jquery/jquery-migrate.min.js"%}""></script>
  <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js"%}""></script>
  <script src="{% static "lib/easing/easing.min.js"%}""></script>
  <script src="{% static "lib/superfish/hoverIntent.js"%}""></script>
  <script src="{% static "lib/superfish/superfish.min.js"%}""></script>
  <script src="{% static "lib/wow/wow.min.js"%}""></script>
  <script src="{% static "lib/venobox/venobox.min.js"%}""></script>
  <script src="{% static "lib/owlcarousel/owl.carousel.min.js"%}""></script>

  

  <!-- Template Main Javascript File -->
  <script src="{% static "js/main.js"%}""></script>
</body>

</html>
