<html lang="en">
  {% extends 'program_commitee/base.html' %}
<head>
    
</head>
<body>
    {% block content %}
    <section id="contact" class="section-bg wow fadeInUp">

        <div class="container">
  
          <div class="section-header">
            <h2> Events Edit</h2>
            <p>You can edit the events here.</p>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th> Event Name</th>
                        <th>Day</th>
                        <th>Stage</th>
                        
                        <th>Starting Time</th>
                        <th>Ending Time</th>
                        
                        
                       
                        <th colspan="2">Action</th>
                        
                        
                        
                        
                        
                    </tr>
                </thead>
                
                <tbody>
                    
                   {% for x in on_stage_details %}
                   <tr>
                       <td>{{forloop.counter|add:0}}</td>
                       <td>{{x.event_name}}</td>
                       <td>{{x.day}}</td>
                       <td>{{x.stage}}</td>
                       
                       <td>{{x.event_start_time}}</td>
                       <td>{{x.event_end_time}}</td>
                       
                       
                       <form action="" method="POST">
                       {% csrf_token %}
                      
                       
                       <td><button type="submit"  onclick="return show_alert()" class="btn btn-danger" name="id" value="{{x.id}}">Remove</button> </td>
                   </form>
                       
                   </tr>
                  {% endfor %}
                    
                   
                </tbody>
            </table>
        </div>
  
          
  
  
        </div>
      </section><!-- #contact -->

      <script>
        function show_alert() {
            if(!confirm("Do you really want to remove it?")) {
              return false;
            }
            this.form.submit();
          }
    </script>


      {% endblock %}
    
</body>
</html>