<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
  <title>Fine Arts</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
      
    
        
    
      
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
  <!-- Vendor CSS Files -->
  <link href="{% static "lib/bootstrap/css/bootstrap.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/icofont/icofont.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/boxicons/css/boxicons.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/venobox/venobox.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/owl.carousel/assets/owl.carousel.min.css"%}"" rel="stylesheet">
  <link href="{% static "vendor/aos/aos.css"%}"" rel="stylesheet">
      
  <!-- Template Main CSS File -->
  <link href="{% static "css/style_message.css"%}"" rel="stylesheet">
    
        
</head>
<body>
  
   

      
          
  
          <div class="section-title" style="margin-top:5%;" >
            <h2> Participant Has been Added Successfully!!!! </h2>
            
            <p>Your Complain Id : <span style="color:red;">{{number}}</span>    </p>
            
            <p> Please note this ID for Future Use.</p>
          </div>
  
         
  
          <div class="row mt-5">
  
            
            <div class="col-lg-8 mt-5 mt-lg-0"  style="margin-left:40%;">
  
              <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_PQxIrX.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
              
              <form method="POST">

                {% csrf_token %}
                
                <button type="submit" class="btn btn-success" style="margin-left: 100px; margin-top:20px;" > Back</button>

              </form>
              
              
  
            </div>
  
          </div>

          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
         
  
       
</body>
</html>